{% extends 'base.html' %}
{% block content %}
<h1>{{ book.title }}</h1>
<p><strong>Author:</strong> {{ book.author }}</p>
<img src="{{ book.image.url }}" width="200">
<p>{{ book.description }}</p>

<h2>Comments</h2>
<ul>
    {% for comment in book.comments.all %}
    <li><strong>{{ comment.name }}:</strong> {{ comment.content }}</li>
    {% empty %}
    <li>No comments yet.</li>
    {% endfor %}
</ul>

<h3>Add Comment</h3>
<form method="POST">
    {% csrf_token %}
    Name: <input type="text" name="name"><br>
    Comment: <textarea name="content"></textarea><br>
    <button type="submit">Add Comment</button>
</form>
{% endblock %}